.root{
	-fx-border-color:black;
	-fx-border-width:4px;
	-fx-background-color:#87CEFA;
}

#btnReset{
	-fx-color:blue;
	-fx-font-weight:bold;
	-fx-font-size:18 arial;
}

#dialog{
	-fx-background-color:#FF0000;
}

